body {
	background-color: #2a2a30;
}

.main h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 200px;
	color:#fbfafd;
    font-family: 'Franklin Gothic Medium';
    border-radius: 100px;
    color: white;
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */

    text-shadow: 1px 1px 2px rgb(236, 12, 206), 0 0 25px #2179ec, 0 0 5px darkblue;
    /* color: rgb(184, 174, 171); */
    /* text-shadow: -1px 0 #2179ec, 0 1px #2179ec, 1px 0 #2179ec, 0 -1px #2179ec; */
    
    /* text-shadow: 0 0 3px rgb(139, 8, 69), 0 0 5px #2179ec; */

    /* text-shadow: 2px 2px 15px #2179ec;  */

   /* box-shadow: 0 4px 8px 0 #2179ec, 0 6px 20px 0 rgb(0, 0, 0, 19); */

}

.container {
	display: flex;
	align-items: center;
	padding-bottom: 70px;
	justify-content: center;
	margin-top: 50px;
}

.row {
	display: flex;
	align-items: center;
	background: rgb(92, 8, 81);
    box-shadow: 0 4px 8px 0 #2179ec, 0 6px 20px 0 rgb(0, 0, 0, 19);
	border-radius: 100px;
	border: 1px solid #121213;
}

.row input {
	background: transparent;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	border: none;
	padding: 0;
	width: 0;
	outline: none;
	transition: all 0.2s;
	
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	margin: 7px;
	border-radius: 50%;
	background: #ffffff;
}

.icon i {
	position: absolute;
	color: #0c0101;
	text-align: center;
	text-decoration: #160202;
	font-style: initial;
	font-size: x-large;
}

.container .fa-xmark {
	opacity: 0;
}

.container:hover input,
input:focus,
input:not(:placeholder-shown) {
	width: 250px;
	padding: 1rem;
	padding-left: 1.5rem;
}

.container:hover .fa-xmark,
input:focus ~ .icon .fa-xmark,
.icon .fa-xmark {
	opacity: 1;
}

.container:hover .fa-search,
input:focus ~ .icon .fa-search,
input:not(:placeholder-shown) ~ .icon .fa-search {
	opacity: 0;
}
